HELP.md
target/
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.mvn
mvnw*

### MAC ###
.DS_Store

### Other ###
logs/
log
temp/
spy.log
**/spy.log
